@font-face {
  font-family: Roboto-Regular;
  src: url(./component/fonts/Roboto_Condensed-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./component/fonts/Roboto_SemiCondensed-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(./component/fonts/Roboto_Condensed-Light.ttf);
}

.body {
  background-color: #ffe3bb;
}
.App {
  text-align: left;
}
.space {
  margin-left: 10px;
  margin-top: 5px;
}
.title {
  background-color: #03a6a1;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #ffe3bb;
  font-family: Roboto-Bold;
  font-weight: 100;
}
.footer_text {
  margin-bottom: 0rem !important;
  text-align: center;
  padding: 20px;
  background-color: #03a6a1;
  color: #ffe3bb;
}
.nounderline {
  text-decoration: none !important;
  color: inherit !important;
}
.mybtn {
  background-color: #03a6a1 !important;
  outline-color: #03a6a1 !important;
  color: #ffe3bb !important;
}
.card-title,
.details-title,
.footer_text {
  font-family: Roboto-Regular;
}
.card-title,
.card-text {
  color: #03a6a1 !important;
}
.card-title {
  margin-bottom: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.card:hover {
  border: 1px solid #03a6a1;
}
.card {
  transition: transform 0.3s;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1);
}
.movie_icon {
  height: 30px;
  margin-right: 8px;
  margin-bottom: 10px;
  color: #ffe3bb !important;
   -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.logo_text {
  margin-bottom: 0rem !important;
}